@import "~/src/scss/index.scss";

$widthLeftMenu: 200px;

.admin-layout {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    background-color: $background-grey;

    .admin-layout__left {
        background-color: #31112C;
        width: $widthLeftMenu;


        .texto {
            height: 30px;
            width: 100%;
            margin: 10px 0;
            font-size: 24px; /* Aumenta el tamaño del texto */
            color: white; /* Cambia el color del texto a blanco */
        }

        .pageTitle {
            margin-left: 10px;
        }
        
    }

    &__right {
        width: calc(100% - $widthLeftMenu);

        &-header {
            background-color: #31112C;

            height: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 10px;
        }

        &-content {
            position: relative;
            margin: 20px;
        }
    }
}


