@import "~/src/scss/index.scss";

.top-bar {
    height: 60px;
    background-color: #31112C;

    > .ui.container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &__left {
        height: 100%;
        display: flex;
        align-items: center;

        .logo {
            height: 60%;
            color: $text-light;
            >svg {
                height: 100%;
            }
        }

        .menu {
            margin-left: 20px;

            a {
                margin: 0 5px;
                color: $text-light;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

}